a {
  /* color: white; */
  text-decoration: none !important;
}

a:hover {
  color: #8d2216;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #eecd9c; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.domain {
  color: 	#c38c49;
}

.domain:hover {
  color: #8d2216;
}

.link {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  margin: auto;
  width: 400%;
  padding: 10px;
}

.bigger {
  zoom: 130%;
  display: flex;
}

.right {
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "Name Chart Chart"
    "Attributes Chart Chart"
    "Stable . .";
}

.Chart { grid-area: Chart; }

.Name { grid-area: Name; }

.Attributes { grid-area: Attributes; }

.Stable { grid-area: Stable; }

.container {
  padding: 50px;
}

.homeContainer {
  display: grid;
  padding: 50px;
  grid-template: 100px
                  1fr
                  1fr
                  / 1fr 2fr;
  grid-column-gap: 20px;
}

.homeHeader {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

.homeLeftColumn {
  grid-area: 2 / 1 / 4 / 2;
}

.homeBanzuke {
  grid-area: 2 / 2 / 4 / 3;
  background-color: #eecd9c;
}

.draftContainer {
  display: grid;
  grid-template: 1fr
                  / 1fr 2fr;
  grid-column-gap: 50px;
  padding: 50px;
}

.draftTeamsContainer {
  grid-area: 1 / 1 / 2 / 2;

}

.draftTeams {
  display: grid;
  grid-template: 50px
                  1fr
                  1fr
                  1fr
                  1fr
                  1fr
                  1fr
                  1fr
                  / 1fr;
  padding: 20px;
}

.draftTeamsHeader {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.draftWrestlersContainer {
  grid-area: 1 / 2 / 2 / 3;
}

.banzuke {
  display: grid;
  grid-template: 50px
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr
                 1fr  
                  / 3fr 3fr 3fr;
  padding: 20px;
}

.banzukeHeader {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: center;
}

.banzukeEast {
  grid-area: 2 / 1 / 22 / 2;
}

.banzukeWest {
  grid-area: 2 / 3 / 22 / 4;
}

.banzukeRankings {
  grid-area: 2 / 2 / 22 / 3;
}